/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
.theme-light .page {
    --font-main: 'Inter-Variable', sans-serif;
    --font-accent: 'PressStart2P-Regular', sans-serif;
    --main-text-color: #000;
    --main-text-weight: 400;
    --title-text-weight: 700;
    --background-color: #e7e7e7;
    --accent-color: #000;
    --background-img: rgba(211, 211, 211, 1);
    --background-gradient: #1a1a1a;
    --section-background: #fff;
    --section-width: clamp(375px, 51%, 699px);
    --cursor: ▶;
    --background-mix: #fff;
    --heart-contour: #000;
    --heart-color: #FF0000;
    --backdrop-background: #000;
}
    
 .theme-dark .page {
    --font-main: 'Inter-Variable', sans-serif;
    --font-accent: 'PressStart2P-Regular', sans-serif;
    --main-text-color: #00CC14;
    --main-text-weight: 465;
    --title-text-weight: 785;
    --background-color: #007F0C;
    --accent-color: #00CC14;
    --background-img: rgba(0, 0, 0, 1);;
    --background-gradient: #004306;
    --section-background: #000;
    --section-width: clamp(375px, 51%, 699px);
    --cursor: ▶;
    --background-mix: #00CC14;
    --heart-contour: #00CC14;
    --heart-color: #FF0000;
    --backdrop-background: #000;
    }


@media (prefers-color-scheme: dark) {
    :root .theme-dark {
        --font-main: 'Inter-Variable', sans-serif;
        --font-accent: 'PressStart2P-Regular', sans-serif;
        --main-text-color: #00CC14;
        --main-text-weight: 465;
        --title-text-weight: 785;
        --background-color: #007F0C;
        --accent-color: #00CC14;
        --background-img: rgba(0, 0, 0, 1);;
        --background-gradient: #004306;
        --section-background: #000;
        --section-width: clamp(375px, 51%, 699px);
        --cursor: ▶;
        --background-mix: #00CC14;
        --heart-contour: #00CC14;
        --heart-color: #FF0000;
        --backdrop-background: #000;
    }
}