/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: 'Inter-Variable', sans-serif;
    --font-accent: 'PressStart2P', fantasy;
    --main-text-color: #000;
    --main-text-weight: 400;
    --title-text-weight: 700;
    --background-color: #e7e7e7;
    --accent-color: #000;
    --background-img: #d3d3d3;
    --background-gradient: #000;
    --bottom-gradient: #1a1a1a;
    --section-background: #fff;
    --section-width: clamp(375px, 51%, 699px);
    --cursor: ▶;
    --background-mix: #fff;
    --heart-contour: #000;
    --heart-color: #FF0000;
    --backdrop-background: #000;
    --background-image: linear-gradient(
        var(--background-color),
        transparent 0.01%,
        var(--bottom-gradient)),
      repeating-linear-gradient(
        var(--background-img),
        var(--background-img) 2px,
        rgba(211, 211, 211, 0) 2px,yrcty,uilo;
        rgba(211, 211, 211, 0) 4px
      ),
      repeating-linear-gradient(90deg,
        var(--background-img),
        var(--background-img) 2px,
        rgba(211, 211, 211, 0) 2px,
        rgba(211, 211, 211, 0) 4px
      );
}